/* CAPACITACIONES */
.capa__section{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    h2{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bolder;
    }
}

.capa__video{
    text-align: center;
    padding-top: 20px;
}

iframe{
    height: 186px;
    width: 330px;
}

.capa__texto{
    h2{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    p, ul{
        font-size: 19px;
        line-height: 35px;
        list-style: none;
    }
}

li{
    a{
        text-decoration: none;
        color: black;
    }
}

