/* PERFIL */
@import "operaciones";

.perfil__cubo{
    @extend .carro__cubo;
    height: calc(100vh - 10rem);
    padding-left: 20px;
    padding-right: 20px;
    @include flex-column-center;
    align-content: center;
}

.form-check{
    a{
        color: black;
    }
}