/* PREGUNTAS FRECUENTES */
.preg__marco{
    padding-top: 10px;
    padding-bottom: 90px;
    padding-right: 10px;
}

.preg__texto{
    margin-left: 30px;
    padding-top: 20px;
    line-height: 39.2px;
}

.preg__texto{
    h2{
        font-size: 25px;
    }
}

.preg__texto{
    p{
        font-size: 20px;
    }
}
