@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "inicio";
@import "preguntas";
@import "tienda";
@import "capacitaciones";
@import "galeria";
@import "contacto";
@import "carrito";
@import "perfil";
@import "media";

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: .13fr 1fr .5fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* HEADER */
#header__a{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.header__logo{
    display: flex;
    justify-content: center;
    h1{
        color: white;
        font-size: 50px;
    }
}

/* MAIN */
main{
    background-color: $gris;
}

p{
    a{
        text-decoration: none;
        color: black;
    }
}

section{
    a:hover{
        color: $orange;
    }
}

ul{
    li{
        list-style: none;
    }
}

/* FOOTER */
footer{
    h3, h4{
        font-size: 22px;
    }
}

.footer__link{
    a{
        color: black;
    }
}

.footer__mapa{
    margin-right: 5px;
    iframe{
        height: 220px;
        width: 330px;
    }
}